/* archivo de estilo para los ejercicios practicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*definimos variables para los colores utilizados para facilitar cambios*/
:root {
    --backgroundBody: rgb(16, 92, 67);
    /*rgb(210, 235, 214);*/
    --backgroundHeader: rgb(16, 92, 67);
    /*#75946d;*/
    --colorTextHeader: rgb(210, 235, 214);
    /*whitesmoke;*/
    --colorTextSection: whitesmoke;
    /*#75946d;*/
    --colorbackgroudCard: whitesmoke;
    --colortextDark: rgb(16, 92, 67);
}

body {
    background-color: var(--backgroundBody);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

      .logo {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-top: 1rem;
                transition: all 0.3s;
            }

            .logo:hover {
                transform: scale(1.2);
            }

    /*encabezado*/
    .encabezado {
        background-color: var(--backgroundHeader);
        color: var(--colorTextHeader);
        width: 100%;
        text-align: center;
        height: 9rem;
       

      

        h1 {
                font-size: 2.5rem;
                font-weight: 600;
            }
       

    }

    /*navegacion*/

    .navegacion {
        background-color: var(--colorTextHeader);
        
        width:100%;
       
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-bottom: 1px solid var(--backgroundHeader);

        

        a {
            text-decoration: none;
            background-color: var(--backgroundHeader);
            color: var(--colorTextHeader);
            border: 1px solid var(--colorTextHeader);
            border-radius: 2rem;
            width: 10em;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            text-align: center;
            font-size:1.1rem;

        }

    }

    a:hover {
        background-color: var(--colorTextHeader);
        color: #75946d;
        border: 1px solid var(--backgroundHeader);
    }
    
    @media (max-width: 640px) {
        .navegacion{
            font-size:0.5rem;
           
        }
    }

   
main {
   /* margin-top: 5rem;*/
    background-image: url("../img/DA1-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
 
    
    border-bottom: 5px solid var(--colorTextHeader);


    .bien-t {
        font-size: 3rem;
        font-weight: 800;
        padding: 2rem;
        color: var(--colortextDark);
        font-style:oblique;
        text-align: right;
        text-shadow: 3px 3px 3px var(--colorTextHeader);

    }

    .bienvenidos {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 2rem;
        color: var(--colorTextHeader);
        text-align: center;

    }

    .busca {
        text-align: center;
        padding: 1rem;

        #busqueda {
            font-family: "Outfit", sans-serif;
            font-size: 1.1rem;
            padding: 5px;
        }

        #buscar {
            background-color: var(--colorTextSection);
            color: var(--colortextDark);
            font-size: 1.2rem;
            padding: 5px;
            border-radius: 10%;
            border-color: var(--colortextDark);
        }
    }
}

#nosotros {
    top: 0;
    left: 0;
    margin-top: 3rem;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--colorTextHeader);
    position: relative;

    h2 {
        color: var(--colorTextSection);
        margin: 1rem 0 3rem;
        font-size: 3rem;
        font-weight: 500;
        font-style:oblique;
        text-shadow: 3px 3px 3px var(--colorTextHeader);
    }

   

    .galeria_top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        justify-items: center;
        background-color: var(--colorbackgroudCard);
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        position: relative;

       
       

        video {
            grid-column: span 2;
            grid-row: span 4;
            border: 1px solid rgba(20, 92, 47, 0.3);
            box-shadow: 2px 2px 6px 0px rgba(20, 92, 47, 0.3);
            max-width: 100%;

        }
    }
     .tit {
            color: var(--colortextDark);
            margin: 1rem 1rem 3rem;
            font-size: 1.4rem;
            font-weight: 500;
            padding:1rem 0;
    }

     .galeria_fotos {
        display: grid;
        
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-items: start;
        justify-items: center;
        background-color: var(--colorbackgroudCard);
        padding: 1rem;
        position: relative;
        align-items: center;
        .tit {grid-column: span 2;}

         img {
            border: 1px solid rgba(20, 92, 47, 0.3);
            box-shadow: 2px 2px 6px 0px rgba(20, 92, 47, 0.3);
            width:100%;

        }
    }


    .aa {

        padding: 10px;
        margin: 2rem;

        .volver {
            font-size: 1.5rem;
            color: var(--colorTextSection);
            text-decoration: none;
            padding: 10px 15px;
            border: 2px solid;
            border-radius: 0.5rem;
            width: 10rem;
            position: absolute;
            bottom: 1rem;
            right: 2rem;

        }
    }
}



#compras {
    top: 0;
    left: 0;
    margin-top: 3rem;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--colorTextHeader);
    position: relative;

    #prod {
         color: var(--colorTextSection);
        margin: 1rem 0 3rem;
        font-size: 3rem;
        font-weight: 500;
        font-style:oblique;
        text-shadow: 3px 3px 3px var(--colorTextHeader);
    }

    .productos {
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 2rem;
        text-align: center;


        .card {
            width: 280px;
            height: 450px;
            border: 2px solid var(--colortextDark);
            border-style: outset;
            background-color: var(--colorbackgroudCard);
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 1rem 0.5rem;
            position: relative;


            transition: scale 0.5s ease-out;

            img {
                width: 200px;
                /*100%;*/
                height: 180px;
                margin: 1rem 0;
                border: 2px solid var(--colortextDark);
                border-radius: 0.5rem;
                border-style: outset;

            }

            a {
                text-decoration: none;
                color: var(--colortextDark);

                p {
                    padding: 1rem;
                    text-align: left;
                }
            }

            .comprar {
                background-color: var(--backgroundBody);
                font-size: 1.5rem;
                color: var(--colorTextSection);
                padding: 0.5rem;
                border: 2px solid var(--colorTextSection);
                border-radius: 0.5rem;
                position: absolute;
                bottom: 10px;
                right: 2rem;



            }
        }

        .card:hover {
            transform: scale(1.05);
        }
    }

    .aa {

        padding: 10px;
        margin: 2rem;

        .volver {
            font-size: 1.5rem;
            color: var(--colorTextSection);
            text-decoration: none;
            padding: 10px 15px;
            border: 2px solid;
            border-radius: 0.5rem;
            width: 10rem;
            position: absolute;
            bottom: 1rem;
            right: 2rem;

        }
    }
}

#contacto {



    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--colorTextHeader);
    position: relative;

    h2 {
         color: var(--colorTextSection);
        margin: 1rem 0 3rem;
        font-size: 3rem;
        font-weight: 500;
        font-style:oblique;
        text-shadow: 3px 3px 3px var(--colorTextHeader);
    }

    .contacto {

        display: grid;
        grid-template-columns: 1fr 1fr;
      
        gap: 2rem;

        padding: 1rem;
        background-color: var(--colorbackgroudCard);
        margin-bottom: 3rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);




        .datos {

            background-color: var(--backgroundHeader);
            border-radius: 0.5rem;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

            h3 {
                color: var(--colorTextHeader);
                padding: 2rem;
                font-size: 1.5rem;
                font-weight: 400;
            }

            h4 {
                color: var(--colorTextHeader);
                padding: 1rem;
                font-size: 1.2rem;
                font-weight: 300;
            }

            ul {
                list-style: none;
                text-decoration: none;

                li{
                    padding:1rem;
                }
            }
        }


        .fcontacto {

            border: 2px solid var(--colortextDark);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;





            .titulo {
                color: var(--colortextDark);
                padding: 2rem;
                font-size: 1.5rem;
                font-weight: 400;
                grid-column: 1/3;
            }

            form {
                display: grid;
                grid-template-columns: 1fr ;
                grid-template-areas:
                    "ing_nya"
                    "ing_mail"
                    "ing_tel"
                    "mensaje"
                    "boton";
                gap: 2rem;
                padding: 1rem;

                label {
                    display: block;
                    text-align: left;
                }

                input,
                textarea {
                    width: 100%;
                    height: 2rem;
                    background: none;
                    color: var(--colortextDark);
                }

                .ing_nya {
                    grid-area: ing_nya;
                }

                .ing_mail {
                    grid-area: ing_mail;
                }

                .ing_tel {
                    grid-area: ing_tel;
                }

                .mensaje {
                    grid-area: mensaje;
                }

                .boton {
                    grid-area: boton;
                    height: 2.5rem;
                    padding: 0.5rem;
                    background-color: var(--backgroundHeader);
                    border-radius: 0.5rem;
                    color: var(--colorTextHeader);
                }
            }

        }


    }

    .aa {

        padding: 10px;
        margin: 2rem;

        .volver {
            font-size: 1.5rem;
            color: var(--colorTextSection);
            text-decoration: none;
            padding: 10px 15px;
            border: 2px solid;
            border-radius: 0.5rem;
            width: 10rem;
            position: absolute;
            bottom: 1rem;
            right: 2rem;

        }
    }


    @media (max-width: 600px) {
      
        .contacto {

            gap:0;
            

            .fcontacto {
                grid-area: 1/3;

                h3 {
                    font-size: 1.2rem;
                }

                input,
                label {
                    font-size: 0.8rem;
                }
            }

            ;

            .datos {
                margin-top: 1rem;
                grid-area: 2/3;

                h3 {
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 0.8rem;
                }

            }
        }
    }
}

footer {
    background-color: var(--backgroundHeader);
    border-bottom: 5px solid var(--colorTextHeader);

    #reservado {
        text-align: left;
        padding: 0.8rem;
        font-size: 0.9rem;
        font-weight: 200;
        font-size: 1rem;
        color: var(--colorTextHeader);
    }


}
 
}
